@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Start of reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* End of reset */

body {
    background-color: #141414;
    font-family: Inter, Arial, sans-serif;
    color: #fff;
    display: grid;
    justify-items: center;
    align-items: start;
    height: 100svh;
    margin: 0.5rem;
}

.card {
    background-color: #1f1f1f;
    padding: 2rem;
    border-radius: 0.5rem;
    display: grid;
    justify-items: center;
    gap: 1rem;
    width: 24rem;
}

.card__img {
    width: 90px;
    aspect-ratio: 1/1;
    background-image: url(https://github.com/4skinSkywalker/Assets-for-my-Codepen/blob/main/social-links-profile/avatar-jessica.jpeg?raw=true);
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 0.75rem;
}

.card__title,
.card__subtitle,
.card__description {
    text-align: center;
}

.card__title {
    font-size: 1.3125rem;
    font-weight: 700;
}

.card__subtitle {
    color: #d9f972;
    font-weight: 700;
    font-size: 0.75rem;
    margin-top: -0.5rem;
}

.card__description {
    font-size: 0.9rem;
    font-weight: 300;
    margin-block: 0.75rem;
}

.card__social-link {
    background-color: #333333;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 0.85rem;
    cursor: pointer;
}

.card__social-link:hover {
    background-color: #d9f972;
    color: #000;
}